# Django local settings
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Django migrations
*/migrations/*

# Django static files
staticfiles/
static/

# Django media files
media/

# Django cache files
*.cache
.cache/

.env

node_modules/
__pycache__/
