<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>consta.de</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        body {
            background: url('/bitmap?width=' + window.innerWidth + '&height=' + window.innerHeight) no-repeat center center fixed;
            background-size: fill;
        }
    </style>
</head>
<body>
    <script>
        function setBackgroundImage() {
            const width = window.innerWidth;
            const height = window.innerHeight;
            document.body.style.backgroundImage = `url('/bitmap?width=${width}&height=${height}')`;
            document.body.style.backgroundPosition = `center`;
        }
        window.onresize = setBackgroundImage;
        window.onload = setBackgroundImage;
    </script>
</body>
</html>